body{
    background-color : #f8f9fa;
}

.dove_logo{
    margin: 0 0 0 1.5rem; /* 높이 조절은 dove_header에서 해야 한다 */
    font-family: 'Comfortaa', cursive;
    /*font-family: 'Lobster', cursive; */
    display: inline;
}

.dove_logo h2, .dove_logo a {
    display: inline;
}

.dove_footer{
    text-align:center; 
}

.dove_header{
    text-align:left;
    margin:1rem 0;
}

.dove_footer_btn{
    margin-top:2rem;
}



.dove_500px_div{
    text-align:center;
    max-width:500px;
    margin:4rem auto;
}

img[src$=".gif"], img[src$=".png"], img[src$=".jpg"], img[src$=".jpeg"]{
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    transform: translateZ(0);
}

@media screen and (max-width:500px) {
    html {
        font-size:13px;
    }
}


a {
    color:black;
    text-decoration:none;
}

a:hover {
    color:black;
    text-decoration:none;
}


hr {
    border-color: black !important;
}