{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!-- WYSIWYG -->
<!-- <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8"> -->

<script src="https://cdn.tiny.cloud/1/gxr8kvj7d7ud5xjy8k4tqvbjz1mlfwj09f6ol6n9s8x0gggv/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<link rel="stylesheet" type="text/css" href="{% static 'prism.css' %}">
<!-- <style> // 기존에디터 전용
.medium-editor-element {
    word-wrap: break-word;
    min-height: 300px;
}
</style> <!-- 내장 스타일 오버라이딩-->

	<div style="text-align:center; max-width:500px; margin:4rem auto;">
        <div class="mb-4">
            <h4>Article Create</h4>
        </div>
        <form action="{% url 'articleapp:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--{{ form }}--> <!--views.py의 AccountCreateview 클래스의 UserCreationForm을 그대로 불러온다.-->
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" value="저장">
        </form>
    </div>

<!-- prismjs -->


<!--<script>var editor = new MediumEditor('.editable');</script>-->
  <script>
    tinymce.init({
    language: "ko_KR",
      selector: 'textarea',
        content_style: "body { line-height: 2.5; }",
     plugins: 'code anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
      toolbar: 'code codesample bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | blocks fontsize | undo redo | removeformat',
        codesample_languages: [
    { text: 'HTML/XML', value: 'markup' },
    { text: 'JavaScript', value: 'javascript' },
    { text: 'CSS', value: 'css' },
    { text: 'PHP', value: 'php' },
    { text: 'Ruby', value: 'ruby' },
    { text: 'Python', value: 'python' },
    { text: 'Java', value: 'java' },
    { text: 'C', value: 'c' },
    { text: 'C#', value: 'csharp' },
    { text: 'C++', value: 'cpp' }
  ],
    });
  </script>
{% endblock %}

