{% extends 'base.html' %}


{% block content %}
<style>
    @media screen and (max-width:600px){
        .article_mobile_content{
            margin:auto 1rem;
    }
        
        
    }
</style>





<div>
    <div style="text-align:center; max-width:700px; margin:4rem auto;">
        <!-- 제목 표시-->
        <h1>
            {{ target_article.title }}
        </h1>
        
        <!-- 작성자, 프로필 사진, 생성/수정 시간 표시-->
        <div style="text-align: left; color: grey; margin: 2rem auto 1rem 1rem;">
            
            <!-- 사진 / 날짜 표시 -->
            <div style="object-fit:cover; width:10%; float:left; margin-right: 0.5rem; margin-bottom:0.5rem;">
                {% if target_article.writer.profile.image %}
                <img src="{{ target_article.writer.profile.image.url }}" style="border-radius:10rem; width:100%; height:100%;">
                {% endif %}
            </div>
            
            
            <h7>
                {% if target_article.writer.profile %}
                    {{ target_article.writer.profile.nickname }}
                {% else %}
                    {{ target_article.writer.username }}
                {% endif %}
        
                 | {{ target_article.created_at }}<br>
                {{ target_article.updated_at }} 수정
            </h7>
        </div>
        
        
       

        <hr>
        <!-- 이미지 및 본문 영역--> 
        <img src="{{ target_article.image.url }}" alt="#" style="width:100%; border-radius:1rem; margin:2rem 0;">

        
        <div class="article_mobile_content" style="text-align: left;">
            {{ target_article.content | safe }} <!-- | safe 하면 태그 텍스트는 사라짐-->
        </div>



        {% if target_article.writer == user %}
        <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-primary rounded-pill col-3">
        수정
        </a>

        <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger rounded-pill col-3">
        삭제
        </a>
        {% endif %}
        
        <hr>
        <!-- comment list 부분-->
        {% for comment in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment %}
        
        {% endfor %}
        

        
        <!-- comment create 부분-->
        {% include 'commentapp/create.html' with article=target_article %}
    
        
    </div>
</div>






{% endblock %}