{% extends 'base.html' %}


{% block content %}
<div>
    <div style="text-align:center; max-width:700px; margin:4rem auto;">
        <h1>
            {{ target_article.title }}
        </h1>
        <h5>
            {% if target_article.writer.profile %}
                {{ target_article.writer.profile.nickname }}
            {% else %}
                {{ target_article.writer.username }}
            {% endif %}
        </h5>

        <hr>

        <img src="{{ target_article.image.url }}" alt="#" style="width:100%; border-radius:1rem; margin:2rem 0;">


        <div style="text-align: left;">
            
            {{ target_article.content | safe }} <!-- | safe 하면 태그 텍스트는 사라짐-->
        </div>



        {% if target_article.writer == user %}
        <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-primary rounded-pill col-3">
        수정
        </a>

        <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger rounded-pill col-3">
        삭제
        </a>
        {% endif %}
        
        <hr>
        <!-- comment list 부분-->
        {% for comment in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment %}
        
        {% endfor %}
        

        
        <!-- comment create 부분-->
        {% include 'commentapp/create.html' with article=target_article %}

        
        
    </div>
</div>






{% endblock %}