{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    @media screen and (max-width:600px){
        .article_mobile_content{
            margin:auto 1rem;
    }
        
        
    }

    
    
    .button_nav {
        float:right;
        margin-right: 1rem;
    }
    
</style>






<div>
    <div style="text-align:center; max-width:700px; margin:4rem auto;">
        <!-- 제목 표시-->
        <h1>
            {{ target_article.title }}
        </h1>
        
        <!-- 작성자, 프로필 사진, 생성/수정 시간 표시-->
        <div style="text-align: left; color: grey; margin: 2rem auto 1rem 1rem;">
            
            <!-- 사진 표시 -->
            <div style="object-fit:cover; width:10%; float:left; margin-right: 0.5rem; margin-bottom:0.5rem;">
                {% if target_article.writer.profile.image %}
                 <a href="{% url 'accountapp:detail' pk=target_article.writer.pk %}">
                    <img src="{{ target_article.writer.profile.image.url }}" style="border-radius:10rem; width:100%; height:100%;">
                </a>
                {% else %}
                <a href="{% url 'accountapp:detail' pk=target_article.writer.pk %}">
                    <img src="{% static 'icons/noprofileimage.png' %}" style="border-radius:10rem; width:100%; height:100%;">
                </a>
                {% endif %}
            </div>
            
            <!-- 닉네임 / id 표시 -->
            <h7>
                {% if target_article.writer.profile %}
                    {{ target_article.writer.profile.nickname }}
                {% else %}
                    {{ target_article.writer.username }}
                {% endif %}
                
            <!-- 날짜 표시 -->
                 | {{ target_article.created_at }}<br>
                {{ target_article.updated_at }} 수정
            </h7>
            
            <!-- 수정, 삭제 버튼 영역-->
             {% if user == target_article.writer %}
            <div class="button_nav">
                <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="material-icons" style="box-shadow:0 0 2px #ccc;text-align:right;
                      background-color: #9cffe4;">
                edit_square
                </a>
                 &nbsp
                <a class="material-icons" style="box-shadow:0 0 2px #ccc;text-align:right;
                      background-color: #ff9c9c;" href="{% url 'articleapp:delete' pk=target_article.pk %}">
                delete_forever
                </a>
            </div>
            {% endif %}
        </div>
        
        
       

        <hr>
        <!-- 이미지 및 본문 영역--> 
        <img src="{{ target_article.image.url }}" alt="#" style="width:100%; border-radius:1rem; margin:2rem 0;">

        
        <div class="article_mobile_content" style="text-align: left;">
            {{ target_article.content | safe }} <!-- | safe 하면 태그 텍스트는 사라짐-->
        </div>



        {% if target_article.writer == user %}
        <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-primary rounded-pill col-3">
        수정
        </a>

        <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger rounded-pill col-3">
        삭제
        </a>
        {% endif %}
        
        <hr>
        <!-- comment list 부분-->
        {% for comment in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment %}
        {% endfor %}
        
        {% for anonymouscomment in target_article.anonymouscomment.all %}
            {% include 'commentapp/detail.html' with comment=anonymouscomment %}
        {% endfor %}

        
        <!-- comment create 부분-->
        {% if user.is_authenticated %}
        {% include 'commentapp/create.html' with article=target_article %}
        {% else %}
        {% include 'commentapp/anonymouscreate.html' with article=target_article %}
        {% endif %}
    
        
    </div>
</div>






{% endblock %}