{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<!-- WYSIWYG -->
<script src="https://cdn.tiny.cloud/1/gxr8kvj7d7ud5xjy8k4tqvbjz1mlfwj09f6ol6n9s8x0gggv/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>


	<div style="text-align:center; max-width:500px; margin:4rem auto;">
        <div class="mb-4">
            <h4>글 수정하기</h4>
        </div>
        <form action="{% url 'articleapp:update' pk=target_article.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--{{ form }}--> <!--views.py의 AccountCreateview 클래스의 UserCreationForm을 그대로 불러온다.-->
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" value="저장">
        </form>
    </div>
<!-- tinymce 스크립트-->
<script>
    tinymce.init({
    language: "ko_KR",
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
      toolbar: 'codesample bold italic underline strikethrough | link image media table | checklist numlist bullist | align lineheight |  blocks fontsize | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
    });
  </script>
{% endblock %}

