<!-- extends base.html 없다 (이건 include되는 것이기 때문) -->
{% load bootstrap4 %}

{% block content %}
<!-- WYSIWYG -->
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

<style>
.medium-editor-element {
    word-wrap: break-word;
    min-height: 100px;
}
</style> <!-- 내장 스타일 오버라이딩-->


	<div style="text-align:center; max-width:500px; margin:4rem auto;">
        <div class="mb-4">
            <h4>익명 Comment</h4>
            <h6 style="color:grey; font-size:x-small;">로그인하면 해당 계정으로 댓글 작성이 가능합니다.</h6>
        </div>
        <form action="{% url 'commentapp:anonymouscreate' %}" method="post">
            {% csrf_token %}
            <!--{{ form }}--> <!--views.py의 AccountCreateview 클래스의 UserCreationForm을 그대로 불러온다.-->
            {% bootstrap_form form %}
            
            
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" value="저장">
            <input type="hidden" name="article_pk" value="{{ article.pk }}"> <!-- article을 articleapp의 detail.html에서 with로 보내줬다-->
        </form>
    </div>

<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}

