{% load static %}

<style>
    .d-flex img {
            border-radius : 10rem;
            width:3rem;
            height:3rem;
        }
</style>

<div class="d-flex">
    <div class="flex-fill">
        <div class="card mt-2">
            <div class="card-header">
                <table>
                    <tr class="align-middle">
                        {% if comment.writer.username %}
                            {% if comment.writer.profile %}
                        <td rowspan="2" class="pr-2"><img src="{{ comment.writer.profile.image.url }}"></td>
                        <td class="ml" style="text-align: left;">{{ comment.writer.profile.nickname }}</td>
                            {% else %}
                        <td rowspan="2" class="pr-2"><i class="fa fa-user-o fa-2x"></i></td>
                        <td class="ml" style="text-align: left;">{{ comment.writer.username }}</td>
                            {% endif %}
                        {% else %}sdsd
                        <td rowspan="2" class="pr-2"><i class="fa fa-user-o fa-2x"></i></td>
                        <td class="ml" style="text-align: left;">{{ comment.writer }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>
                            <font size="2">{{ comment.created_at }}</font> 

                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-body" style="text-align: left;">
                <p class="card-text">{{ comment.content | safe }}</p>
        
                
            
                {% if comment.writer.username %}
        {% if comment.writer == user %}
        <div style="text-align: right;">
            <a href="{% url 'commentapp:delete' pk=comment.pk %}" class="btn btn-danger">삭제</a> <!-- url 'app:#'  쓰려면 urls.py에 추가하기-->
        </div>
        {% endif %}
    {% else %}
        <!-- 익명 댓글일 경우 -->
        <div style="text-align: right;">
            <a href="{% url 'commentapp:anonymousdelete' pk=comment.pk %}" class="btn btn-danger">삭제</a> <!-- url 'app:#'  쓰려면 urls.py에 추가하기-->
        </div>
    {% endif %}
                
                
                

            </div>
        </div>
    </div>
</div>