{% load static %}

<style>     
        .container_postcard .postcard_div1{
            padding: 0.5rem 1rem;
            position:relative;
            width: 27.53rem;
            height: 30.46rem;
            border-radius: 0.3rem;
            margin: 1rem auto;
            background-color : white;
            box-shadow : rgb(0 0 0 / 4%) 0px 4px 16px 0px;
        }
    
            
        .container_postcard .contents_div1{
            padding:2rem 1rem;
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100% - 2.5rem); /* 덧셈 뺄샘 양쪽엔 꼭 공백이 있어야 한다*/ 
            width: 100%;
            font-size: x-small;
            overflow: hidden;
        }

        
        .container_postcard .contents_div1 p, .container_postcard .contents_div1 span{
            font-size:small;
        }
            
</style>


<div class="postcard_div1">
    <!-- 이미지 영역 -->
    
    

    <!-- 내용 영역 -->
        
    <div class="contents_div1">
        <!-- 제목 영역 -->
        <div>
            <h4>{{ article.title }}</h4>
        </div>
        <hr>
        
        <!-- 계산 시에는 calc 함수를 사용하자-->
        <!-- truncatechars_html을 써야 html태그 인식해서 닫기 태그로 정리해준다. 꼭 html 붙이자-->
        {{ article.content | truncatechars_html:200 | safe }}
    </div>
    

    
    
    
    <div class="writerzone">
        <!-- 작성자. 작성 일자 표시 -->
        <span style="font-size:0.2rem; color:gray; ">
            <h6 style="color:#abb0ac; font-size:x-small; display:inline;">by</h6>
            <!-- 사진 표시 -->
            {% if article.writer.profile %}
            <div style="object-fit:cover; width:6%; float:left; margin-right: 0.5rem;">
                    {% if article.writer.profile.image %}
                     <a href="{% url 'accountapp:detail' pk=article.writer.pk %}">
                        <img src="{{ article.writer.profile.image.url }}" style="border-radius:10rem; width:100%; height:100%; ">
                    </a>
                    {% else %}
                    <a href="{% url 'accountapp:detail' pk=article.writer.pk %}">
                        <img src="{% static 'icons/noprofileimage.png' %}" style="border-radius:10rem; width:100%; height:100%;">
                    </a>
                    {% endif %}
                </div>
            <!-- 작성자 표시 -->
            <span>
                {{ article.writer.profile.nickname }} <h6 style="color:gray; display:inline; font-size: x-small">| {{ article.created_at }}</h6>
                {% else %}
                <a href="{% url 'accountapp:detail' pk=article.writer.pk %}">
                    <img src="{% static 'icons/noprofileimage.png' %}" style="border-radius:10rem; width:100%; height:100%;">
                </a>
                {{ article.writer.username }} | <h6 style="color:gray; display:inline; font-size: x-small">| {{ article.created_at }}</h6>
                {% endif %}
            </span>
            
        </span>
    </div>
</div> 

