{% extends 'base.html' %}


{% block content %}
<div class="dove_500px_div">
    <div>
        <p>
            {{ target_user.date_joined }}
        </p>
        
        <!-- 프로파일 존재하면 닉네임 띄우고 아니면 프로파일 생성으로 유도-->
        {% if target_user.profile %}


        <!-- 이미지 넣기 -->
            <img src="{{ target_user.profile.image.url }}" alt="프로필 사진" style="width:12rem; height:12rem; border-radius:20rem; margin-bottom:2rem; object-fit:cover;"> 
            <!--이렇게 하고 urls.py(root의)에서 미디어 라우팅을 해야 사진이 제대로 뜸--> 

            <h2 style="font-family: 'NanumSqureB;">
                {{ target_user.profile.nickname }}
                {% if target_user == user %} <!--로그인된 사용자라면 보여주기 위해-->
            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}" class="material-icons" style="box-shadow:0 0 4px #ccc; border-radius:10rem; padding: .4rem;">
                    edit <!-- a태그 안의 내용에 따라서 아이콘의 종류가 바뀐다. 클래스는 material-icons 고정이다. 하위 요소에 태그는 없어야 한다.-->
            </a>
                {% endif %}

            </h2>
                    <!-- 한줄소개 표시-->
            <h5 style="margin-bottom:3rem;">
            {{ target_user.profile.message }}
            </h5>
        {% else %}

            {% if target_user == user %} <!--로그인된 사용자라면 보여주기 위해-->
                <a href="{% url 'profileapp:create' %}">
                    <h2 style="font-family: 'NanumSqureB">
                    Create Profile
                </h2>
                </a>
        
            {% else %}
                <h2>
                작성된 소개가 없습니다.    
                </h2>
        
        
            {% endif %}


        {% endif %}
        

        
        {% if target_user == user %} <!-- target_user가 현재 접속한 user라면 (target_user는 views.py의 AccountDetailView에 있다)-->
        <a class="material-icons" style="box-shadow:0 0 4px #ccc; border-radius:10rem; padding: .4rem;" href="{% url 'accountapp:update' pk=user.pk %}">
                settings <!-- 모두 소문자이다 -->
        </a>
        <a class="material-icons" style="box-shadow:0 0 4px #fcc; border-radius:10rem; padding: .4rem;" href="{% url 'accountapp:delete' pk=user.pk %}">
                cancel
        </a>
        {% endif %}
    </div>
    
    <br>
    
     <!-- 해당 계정의 글 목록을 보여주기-->
    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>
</div>






{% endblock %}