{% extends 'base.html' %}
 
<!-- 어떻게 base.html만으로 경로를 아냐? 왜냐하면 setting.py에서 TEMPLATE = ['DIRS': [os.path.join(BASE_DIR, 'templates')]]로 경로를 blog/blog/templates로 지정했기 때문에.-->

{% block content %}
<!-- 여기서 바꾼 내용이 base.html 안의 content 블럭으로 들어간다 -->
<div style="border-radius:1rem; margin:2rem; text-align:center;">
    
<h1 style="font-family: 'Lobster', cursive;">
    hello world!
    </h1>
    
    
    <form action="/account/hello_world/" method="post">
        <!-- post 쓸 때는 꼭 아래의 csrf token 써야 오류가 안 난다-->
        {% csrf_token %}
        <div>
            <input type="text" name="hello_world_input">
        </div>
        
        <div>
            <input type="submit" class="btn btn-primary" value="POST">
        </div>
        
        
    </form>
    
    
    {% if hello_world_output %} <!-- hello_world_output 객체가 존재하는지 확인-->
    <h1>
        {{ hello_world_output.text }} <!-- view에서 return한 데이터 등에서 text라는 이름을 가진 객체의 값을 가져온다-->
    </h1>
    {% endif %}
    
    
    
</div>



{% endblock %}